html {
    color: white;
    background-color: burlywood;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*background: dimgray;*/
    /*border: 2px solid darkred;*/
    height: fit-content;
    width: fit-content;
    justify-content: space-between;

}

.character-container{
    display: flex;
    flex-direction: row;
    width:100%;
    padding-bottom: 10px;

}

.item {
    height: 300px;
    width: 200px;
    flex-direction: row;
    background: peachpuff;
    border: 4px solid brown;
    gap: 8px;
    flex: 1 1 auto;
}


p {
    color: red;
}

.backstory {
    color: darkred;
}